{% extends 'base.html.twig' %}

{% block title %}Update Product | Optime{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12">
                <h3>Update product</h3>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                {{ include('product/form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}